# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Douyu.settings

# 添加scrapyd配置名
[deploy:scrapyd_Douyu]  # 配置名称
url = http://localhost:6800/  # 服务在那个IP地址启动就是这个IP
project = Douyu
